.label-text {
  font-size: 0.875rem; /* Decrease text size */
  font-weight: bold; /* Make labels bold */
}

.value-text {
  font-size: 0.875rem; /* Decrease text size */
  color: #555; /* Different color for values */
}

.btn-danger {
  background-color: red;
  border-color: red;
}

.rounded-button {
  border-radius: 0.25rem; /* Rounded corners */
}

.btn-sm {
  padding: 0.25rem 0.5rem; /* Adjust button size to match text size */
  font-size: 0.875rem;
}