<div class="container mt-5">
  <form [formGroup]="form" (ngSubmit)="navigateToAddCoverage()">
    <div formArrayName="drivers">
      <div *ngFor="let driverForm of driverForms.controls; let i = index" [formGroupName]="i" class="row mb-2">
        <div class="col-12">
          <h5>Additional Driver {{ i + 1 }}</h5>
        </div>
        <div class="col-md-3">
          <label for="firstName-{{i}}">First Name</label>
          <input id="firstName-{{i}}" class="form-control" formControlName="firstName">
        </div>
        <div class="col-md-3">
          <label for="lastName-{{i}}">Last Name</label>
          <input id="lastName-{{i}}" class="form-control" formControlName="lastName">
        </div>
        <div class="col-md-3">
          <label for="dob-{{i}}">Date of Birth</label>
          <input id="dob-{{i}}" type="date" class="form-control" formControlName="dob">
        </div>
        <div class="col-md-3">
          <label for="licenseNumber-{{i}}">License Number</label>
          <input id="licenseNumber-{{i}}" class="form-control" formControlName="licenseNumber">
        </div>
        <div class="col-md-3">
          <label for="isPrimary-{{i}}">Is Primary</label>
          <select id="isPrimary-{{i}}" class="form-control" formControlName="isPrimary">
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Next: Select Coverages</button>
  </form>
</div>